.inputContainer {
    position: relative;
    max-width: 300px;
    width: 100%;
}

.label {
    position: absolute;
    bottom: 24px;
    font-size: 0.8rem;
    color: var(--text-color);
    pointer-events: none;
}

.input {
    width: 100%;
    padding: 10px 0 2px;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--text-color);
    font-size: 1rem;
    color: var(--text-color);
}

.inputError {
    border-bottom-color: red;
}

.input:focus {
    outline: none;
    border-bottom: 2px solid var(--primary-color);
}

.errorText {
    position: absolute;
    top: 5px;
    right: 40px;
    color: red;
    font-size: 14px;
    margin-top: 4px;
}