.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page {
    max-width: 400px;
    padding: 20px 15px;
}

.header {
    color: var(--accent-color);
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}



.radio {
    width: 100%;
    display: flex;
}

.radio-input {
    width: 50%;

}