.inputContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--text-color);
    padding-top: 6px;
    transition: border-color 0.3s;
}

.label {
    position: absolute;
    left: 0;
    bottom: 10px;
    font-size: 1rem;
    color: var(--text-color);
    transition: all 0.3s ease;
    pointer-events: none;
}

.input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 18px;
    padding-top: 20px;
    background: transparent;
}

.toggleButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 8px;
}

.inputError {
    border-bottom-color: red;
}

.errorText {
    position: absolute;
    right: 0;
    top: -5px;
    color: red;
    font-size: 14px;
    margin-top: 4px;
}

/* Moves label above when input is focused or has text */
.inputWrapper.active .label {
    transform: translateY(-24px);
    font-size: 14px;
    color: var(--primary-color);
}

@media (max-width: 450px) {
    .inputContainer {
        margin-bottom: 16px;
    }
}
