.radio-label {
    text-align: center;
    display: inline-flex;
    column-gap: 3px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.radio-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


.checkmark {
    position: relative;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: var(--card-bg-color);
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
}
.checkmark-primary {
    border-color: var(--primary-color);
}
.checkmark-secondary {
    border-color: var(--secondary-color);
}
.checkmark-accent {
    border-color: var(--accent-color);
}

.radio-input:checked ~ .checkmark {
    background-color: var(--card-bg-color);
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.radio-input:checked ~ .checkmark::after {
    display: block;
}

.checkmark::after {
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--accent-color);
}
.checkmark-primary::after {
    background: var(--primary-color);
}
.checkmark-secondary::after {
    background: var(--secondary-color);
}
.checkmark-accent::after {
    background: var(--accent-color);
}