.wrapper {
    padding: 4px 8px;
}

.info-group {
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.toggle-button {
    width: 65px;
}
.name {
    flex-grow: 1;
}
.add-button {
    width: 100px;
}
.empty-text {
    text-align: center;
}

.odd-row {
    background-color: var(--primary-color);
    color: var(--card-bg-color);
}
.even-row {
    background-color: var(--card-bg-color);
}

.house-list {
    list-style: none;
    text-align: center;
    padding: 0;
}