.button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.primary {
    background-color: var(--primary-color);
    color: var(--card-bg-color);
    border-color: var(--primary-color);
}

.primary:hover {
    background-color: var(--card-bg-color);
    color: var(--primary-color);
}

.secondary {
    background-color: var(--secondary-color);
    color: var(--card-bg-color);
    border-color: var(--secondary-color);
}

.secondary:hover {
    background-color: var(--card-bg-color);
    color: var(--secondary-color);
}

.accent {
    background-color: var(--accent-color);
    color: var(--card-bg-color);
    border-color: var(--accent-color);
}

.accent:hover {
    background-color: var(--card-bg-color);
    color: var(--accent-color);
}
