.title {
    color: var(--accent-color);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.house-table {
    text-align: center;
}
.house-table td {
    padding: 0 8px;
}

.page {
    padding: 12px 4px;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
}