.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    max-width: 400px;
    padding: 15px;
    margin: 0 5px;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Ensures left alignment */
    text-align: left;
    width: fit-content; /* Prevents unnecessary width */
    margin: 0 auto; /* Centers the block horizontally */
}

/* Scope the span selector to h1 to prevent unintended global styles */
h1 span {
    display: block; /* Ensures each span is treated as a block */
    width: 100%; /* Makes all spans inherit the same width */
    white-space: nowrap; /* Prevents wrapping */
}

.primaryColor {
    color: var(--primary-color);
}

.secondaryColor {
    color: var(--secondary-color);
}

.buttonContainer {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    margin: 20px 0;

}

.buttonContainer button {
    width: 100%;
}

@media (max-width: 400px) {
    .buttonContainer {
        flex-direction: column;
        align-items: center;
    }
    .buttonContainer button {
        padding: 20px 0;
    }
}
